SECRET_KEY=cambia-esto-por-una-clave-larga-y-segura
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=audio_renta
DB_USER=postgres
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432
DATABASE_URL=

WHATSAPP_NUMBER=529981234567
CONTACT_EMAIL=ventas@tudominio.com
PUBLIC_API_KEY=cambia-esta-clave-si-vas-a-usar-la-api
